# Compiled class file
*.class

# Log file
*.log
*.txt
*.lst

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.jar.original
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
.settings/**
.classpath
batatas.mv.db
target/**
.vscode
.vscode/**
*.drawio.*
*.mv.db
target/maven-status/**
target/surefire-reports/**
target/surefire-reports/**
target/maven-status/maven-compiler-plugin/compile/default-compile/**
target/*
br/com/letscode/supernova/batatas/modelos/Insumo.class
br/com/letscode/supernova/batatas/repositorios/RepositorioInsumoProduzidoFase.class
br/com/letscode/supernova/batatas/modelos/ExecucaoFaseProcessamento.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumoProduzido.class
br/com/letscode/supernova/batatas/mapper/ProcessoMapper.class
br/com/letscode/supernova/batatas/rest/ExecucaoFaseProcessamentoController.class
br/com/letscode/supernova/batatas/repositorios/RepositorioInsumoConsumidoFase.class
br/com/letscode/supernova/batatas/modelos/InsumoFase.class
br/com/letscode/supernova/batatas/service/InsumoService.class
br/com/letscode/supernova/batatas/service/ItemEstoqueInsumoService.class
br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumoConsumido.class
br/com/letscode/supernova/batatas/modelos/ItemProduzidoExecucao.class
br/com/letscode/supernova/batatas/rest/ProcessoRestController.class
br/com/letscode/supernova/batatas/repositorios/RepositorioInsumo.class
br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumoProduzido.class
br/com/letscode/supernova/batatas/repositorios/RepositorioExecucaoFaseProcessamento.class
br/com/letscode/supernova/batatas/repositorios/RepositorioProdutoVenda.class
br/com/letscode/supernova/batatas/service/ExecucaoFaseProcessamentoService.class
br/com/letscode/supernova/batatas/modelos/LoteProdutoVenda.class
br/com/letscode/supernova/batatas/dto/ErrosDto.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumoConsumido.class
br/com/letscode/supernova/batatas/service/ProcessoService.class
br/com/letscode/supernova/batatas/repositorios/RepositorioFase.class
br/com/letscode/supernova/batatas/dto/InsumoConsumidoFaseDto.class
br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoDto.class
br/com/letscode/supernova/batatas/mapper/InsumoMapper.class
br/com/letscode/supernova/batatas/dto/IdProcesso.class
br/com/letscode/supernova/batatas/dto/LoteProdutoVendaDto.class
br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumo.class
br/com/letscode/supernova/batatas/dto/InsumoProduzidoFaseDto.class
br/com/letscode/supernova/batatas/modelos/ProdutoFase.class
br/com/letscode/supernova/batatas/dto/IdProcessoDto.class
br/com/letscode/supernova/batatas/dto/ExecucaoFaseProcessamentoDto.class
br/com/letscode/supernova/batatas/mapper/ExecucaoFaseProcessamentoMapper.class
br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoConsumidoDto.class
br/com/letscode/supernova/batatas/modelos/ProdutoVenda.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumo.class
br/com/letscode/supernova/batatas/modelos/Processo.class
br/com/letscode/supernova/batatas/rest/InsumoController.class
br/com/letscode/supernova/batatas/BatatasApplication.class
br/com/letscode/supernova/batatas/dto/ProdutoVendaDto.class
br/com/letscode/supernova/batatas/dto/ErroDto.class
br/com/letscode/supernova/batatas/dto/FaseDto.class
br/com/letscode/supernova/batatas/repositorios/RepositorioLoteProdutoVenda.class
br/com/letscode/supernova/batatas/dto/ProcessoDto.class
br/com/letscode/supernova/batatas/mapper/ProdutoVendaMapper.class
br/com/letscode/supernova/batatas/beans/BeanInicializacao.class
br/com/letscode/supernova/batatas/mapper/ItemEstoqueInsumoMapper.class
br/com/letscode/supernova/batatas/modelos/InsumoProduzidoFase.class
br/com/letscode/supernova/batatas/modelos/Fase.class
br/com/letscode/supernova/batatas/exceptions/InsumoNaoEncontradoException.class
br/com/letscode/supernova/batatas/dto/InsumoDto.class
br/com/letscode/supernova/batatas/dto/ItemProduzidoExecucaoDto.class
br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoProduzidoDto.class
br/com/letscode/supernova/batatas/repositorios/RepositorioProcesso.class
br/com/letscode/supernova/batatas/dto/IdFaseDto.class
br/com/letscode/supernova/batatas/errors/BatatasErrorHandler.class
br/com/letscode/supernova/batatas/modelos/InsumoConsumidoFase.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemProduzidoExecucao.class
br/com/letscode/supernova/batatas/rest/ItemEstoqueInsumoController.class
br/com/letscode/supernova/batatas/modelos/Insumo.class
br/com/letscode/supernova/batatas/repositorios/RepositorioInsumoProduzidoFase.class
br/com/letscode/supernova/batatas/modelos/ExecucaoFaseProcessamento.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumoProduzido.class
br/com/letscode/supernova/batatas/mapper/ProcessoMapper.class
br/com/letscode/supernova/batatas/rest/ExecucaoFaseProcessamentoController.class
br/com/letscode/supernova/batatas/repositorios/RepositorioInsumoConsumidoFase.class
br/com/letscode/supernova/batatas/modelos/InsumoFase.class
br/com/letscode/supernova/batatas/service/InsumoService.class
br/com/letscode/supernova/batatas/service/ItemEstoqueInsumoService.class
br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumoConsumido.class
br/com/letscode/supernova/batatas/modelos/ItemProduzidoExecucao.class
br/com/letscode/supernova/batatas/rest/ProcessoRestController.class
br/com/letscode/supernova/batatas/repositorios/RepositorioInsumo.class
br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumoProduzido.class
br/com/letscode/supernova/batatas/repositorios/RepositorioExecucaoFaseProcessamento.class
br/com/letscode/supernova/batatas/repositorios/RepositorioProdutoVenda.class
br/com/letscode/supernova/batatas/service/ExecucaoFaseProcessamentoService.class
br/com/letscode/supernova/batatas/modelos/LoteProdutoVenda.class
br/com/letscode/supernova/batatas/dto/ErrosDto.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumoConsumido.class
br/com/letscode/supernova/batatas/service/ProcessoService.class
br/com/letscode/supernova/batatas/repositorios/RepositorioFase.class
br/com/letscode/supernova/batatas/dto/InsumoConsumidoFaseDto.class
br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoDto.class
br/com/letscode/supernova/batatas/mapper/InsumoMapper.class
br/com/letscode/supernova/batatas/dto/IdProcesso.class
br/com/letscode/supernova/batatas/dto/LoteProdutoVendaDto.class
br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumo.class
br/com/letscode/supernova/batatas/dto/InsumoProduzidoFaseDto.class
br/com/letscode/supernova/batatas/modelos/ProdutoFase.class
br/com/letscode/supernova/batatas/dto/IdProcessoDto.class
br/com/letscode/supernova/batatas/dto/ExecucaoFaseProcessamentoDto.class
br/com/letscode/supernova/batatas/mapper/ExecucaoFaseProcessamentoMapper.class
br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoConsumidoDto.class
br/com/letscode/supernova/batatas/modelos/ProdutoVenda.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumo.class
br/com/letscode/supernova/batatas/modelos/Processo.class
br/com/letscode/supernova/batatas/rest/InsumoController.class
br/com/letscode/supernova/batatas/BatatasApplication.class
br/com/letscode/supernova/batatas/dto/ProdutoVendaDto.class
br/com/letscode/supernova/batatas/dto/ErroDto.class
br/com/letscode/supernova/batatas/dto/FaseDto.class
br/com/letscode/supernova/batatas/repositorios/RepositorioLoteProdutoVenda.class
br/com/letscode/supernova/batatas/dto/ProcessoDto.class
br/com/letscode/supernova/batatas/mapper/ProdutoVendaMapper.class
br/com/letscode/supernova/batatas/beans/BeanInicializacao.class
br/com/letscode/supernova/batatas/mapper/ItemEstoqueInsumoMapper.class
br/com/letscode/supernova/batatas/modelos/InsumoProduzidoFase.class
br/com/letscode/supernova/batatas/modelos/Fase.class
br/com/letscode/supernova/batatas/exceptions/InsumoNaoEncontradoException.class
br/com/letscode/supernova/batatas/dto/InsumoDto.class
br/com/letscode/supernova/batatas/dto/ItemProduzidoExecucaoDto.class
br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoProduzidoDto.class
br/com/letscode/supernova/batatas/repositorios/RepositorioProcesso.class
br/com/letscode/supernova/batatas/dto/IdFaseDto.class
br/com/letscode/supernova/batatas/errors/BatatasErrorHandler.class
br/com/letscode/supernova/batatas/modelos/InsumoConsumidoFase.class
br/com/letscode/supernova/batatas/repositorios/RepositorioItemProduzidoExecucao.class
br/com/letscode/supernova/batatas/rest/ItemEstoqueInsumoController.class
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/rest/ItemEstoqueInsumoController.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/mapper/InsumoMapper.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ProcessoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/LoteProdutoVendaDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioExecucaoFaseProcessamento.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/service/ExecucaoFaseProcessamentoService.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/mapper/ItemEstoqueInsumoMapper.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/rest/ProcessoRestController.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/InsumoProduzidoFaseDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/InsumoFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ProdutoFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/mapper/ProcessoMapper.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/service/ProcessoService.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ExecucaoFaseProcessamento.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ErrosDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioLoteProdutoVenda.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoConsumidoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/InsumoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/service/InsumoService.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumoConsumido.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumoProduzido.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ProdutoVenda.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioInsumo.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/FaseDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/rest/InsumoController.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/Insumo.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/IdProcesso.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/Fase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/exceptions/InsumoNaoEncontradoException.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/mapper/ExecucaoFaseProcessamentoMapper.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumoConsumido.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioProcesso.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumoProduzido.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/beans/BeanInicializacao.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ItemProduzidoExecucao.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/ItemEstoqueInsumo.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/InsumoConsumidoFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioItemProduzidoExecucao.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/mapper/ProdutoVendaMapper.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioInsumoProduzidoFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioInsumoConsumidoFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/InsumoProduzidoFase.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/BatatasApplication.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/LoteProdutoVenda.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ExecucaoFaseProcessamentoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/IdFaseDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ItemProduzidoExecucaoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/rest/ExecucaoFaseProcessamentoController.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoProduzidoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioProdutoVenda.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/IdProcessoDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/repositorios/RepositorioItemEstoqueInsumo.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/service/ItemEstoqueInsumoService.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/modelos/Processo.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ErroDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/errors/BatatasErrorHandler.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/InsumoConsumidoFaseDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ProdutoVendaDto.java
/home/italo/projeto-web/src/main/java/br/com/letscode/supernova/batatas/dto/ItemEstoqueInsumoDto.java
